.dm_svgIcon {
	background: url($sprite_path + "svgIcon.svg") no-repeat;
	display: inline-block;
	overflow: hidden;
	font-size: 0;
	line-height: 0;
}

.dm_svgIcon_AppExmail {
	background-position: 72% 84.84848484848484%;
	width: 40px;
	height: 40px;
}

.dm_svgIcon_AppPermissionWorknote {
	background-position: 67.46987951807229% 52.7027027027027%;
	width: 24px;
	height: 24px;
}

.dm_svgIcon_CardClose {
	background-position: 0 0;
	width: 112px;
	height: 112px;
}

.dm_svgIcon_ClaimFeatureApproval {
	background-position: 100% 0;
	width: 78px;
	height: 78px;
}

.dm_svgIcon_CorpAuthErr {
	background-position: 42.25352112676056% 94.91525423728814%;
	width: 48px;
	height: 54px;
}

.dm_svgIcon_Members {
	background-position: 0 100%;
	width: 60px;
	height: 60px;
}

