.dm_svgIcon {
	background: url($sprite_path + "svgIcon.svg") no-repeat;
	display: inline-block;
	overflow: hidden;
	font-size: 0;
	line-height: 0;
}

.dm_svgIcon_AppExmail {
	background-position: 100% 24%;
	width: 60px;
	height: 60px;
}

.dm_svgIcon_AppExmail {
	background-position: 81.76795580110497% 92%;
	width: 60px;
	height: 60px;
}

.dm_svgIcon_AppExmail {
	background-position: 100% 0;
	width: 60px;
	height: 60px;
}

.dm_svgIcon_AppPermissionWorknote {
	background-position: 95.76719576719577% 78.19548872180451%;
	width: 44px;
	height: 44px;
}

.dm_svgIcon_AppPermissionWorknote {
	background-position: 95.76719576719577% 61.65413533834587%;
	width: 44px;
	height: 44px;
}

.dm_svgIcon_AppPermissionWorknote {
	background-position: 95.76719576719577% 45.11278195488722%;
	width: 44px;
	height: 44px;
}

.dm_svgIcon_CardClose {
	background-position: 0 0;
	width: 132px;
	height: 132px;
}

.dm_svgIcon_CardClose {
	background-position: 45.51724137931034% 0;
	width: 132px;
	height: 132px;
}

.dm_svgIcon_ClaimFeatureApproval {
	background-position: 0 62.264150943396224%;
	width: 98px;
	height: 98px;
}

.dm_svgIcon_ClaimFeatureApproval {
	background-position: 81.48148148148148% 0;
	width: 98px;
	height: 98px;
}

.dm_svgIcon_ClaimFeatureApproval {
	background-position: 30.246913580246915% 62.264150943396224%;
	width: 98px;
	height: 98px;
}

.dm_svgIcon_CorpAuthErr {
	background-position: 55.367231638418076% 55.932203389830505%;
	width: 68px;
	height: 74px;
}

.dm_svgIcon_CorpAuthErr {
	background-position: 45.19774011299435% 97.45762711864407%;
	width: 68px;
	height: 74px;
}

.dm_svgIcon_CorpAuthErr {
	background-position: 64.40677966101696% 97.45762711864407%;
	width: 68px;
	height: 74px;
}

.dm_svgIcon_Members {
	background-position: 0 100%;
	width: 80px;
	height: 80px;
}

.dm_svgIcon_Members {
	background-position: 77.19298245614036% 42.608695652173914%;
	width: 80px;
	height: 80px;
}

.dm_svgIcon_Members {
	background-position: 23.391812865497077% 100%;
	width: 80px;
	height: 80px;
}

