<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
  <meta name="renderer" content="webkit" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <meta content="no-siteapp" http-equiv="Cache-Control" />
  <meta name="description" content="一个旨在提高 UI 开发效率，快速产生项目 UI 的前端框架" />
  <meta name="keywords" content="QMUI Web,QMUI,UI 开发,QMUI Web 官网,前端工作流,UI 开发框架" />
	<title>@@title</title>
  <link rel="icon" type="image/png" sizes="16x16" href="../public/style/images/independent/favicon/favicon_16h.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="../public/style/images/independent/favicon/favicon_32h.png" />
  <link rel="icon" type="image/png" sizes="48x48" href="../public/style/images/independent/favicon/favicon_48h.png" />
	<link rel="stylesheet" type="text/css" href="../public/style/css/main.css" />
  <!--[if lte IE 8]>
  <script type="text/javascript">
    (function(elements) {
      for (var i = 0, l = elements.length; i < l; i++) {
        document.createElement(elements[i]);
      }
    })(['main', 'article', 'section', 'header', 'nav', 'aside', 'time', 'footer']);
  </script>
  <![endif]-->
</head>
<body class="frame_wrap">

  <div style="position: absolute; opacity: 0; z-index: -1;">
    <img src="../public/style/images/independent/share/ShareLogo.png" alt="微信分享 Logo" />
  </div>

	<header id="head" class="frame_head">
    @@if ( typeof index !== 'undefined') {
    <h1 class="frame_head_title"><a class="dm_icon dm_icon_TopLogo frame_head_title_link" href="./index.html">QMUI Web</a></h1>
    }
    @@if ( typeof index === 'undefined') {
    <div class="frame_head_title"><a class="dm_icon dm_icon_TopLogo frame_head_title_link" href="./index.html">QMUI Web</a></div>
    }

    <a class="frame_head_showMenuBtn" id="showMenuBtn" href="javascript:;">
      <span class="dm_icon dm_icon_Menu"></span>
    </a>
    <a class="frame_head_closeMenuBtn" id="closeMenuBtn" href="javascript:;">
      <span class="dm_icon dm_icon_CloseMenu"></span>
    </a>
	
    <nav class="frame_nav">
      <a class="frame_nav_item @@if ( typeof currentPage !== 'undefined' && currentPage === 'start') {frame_nav_item_Curr}" href="start.html">开始使用</a>
      <a class="frame_nav_item @@if ( typeof currentPage !== 'undefined' && currentPage === 'tools') {frame_nav_item_Curr}" href="tools.html">工具方法</a>
      <a class="frame_nav_item @@if ( typeof currentPage !== 'undefined' && currentPage === 'scaffold') {frame_nav_item_Curr}" href="scaffold.html">脚手架</a>
      <a class="frame_nav_item @@if ( typeof currentPage !== 'undefined' && currentPage === 'widget') {frame_nav_item_Curr}" href="widget.html">组件</a>
      <a class="frame_nav_item @@if ( typeof currentPage !== 'undefined' && currentPage === 'codeNorm') {frame_nav_item_Curr}" href="codeNorm.html">编码规范</a>
      <a class="frame_nav_item @@if ( typeof currentPage !== 'undefined' && currentPage === 'app') {frame_nav_item_Curr}" href="app.html">QMUI Web Desktop</a>
    </nav>
	</header>
